[submodule "VTEX-course-basic-blocks"]
	path = VTEX-course-basic-blocks
	url = https://github.com/2904nando/VTEX-course-basic-blocks
[submodule "VTEX-course-complex-layouts"]
	path = VTEX-course-complex-layouts
	url = https://github.com/2904nando/VTEX-course-complex-layouts
[submodule "VTEX-course-unique-store"]
	path = VTEX-course-unique-store
	url = https://github.com/2904nando/VTEX-course-unique-store
[submodule "VTEX-course-store-performance"]
	path = VTEX-course-store-performance
	url = https://github.com/2904nando/VTEX-course-store-performance
[submodule "VTEX-course-custom-blocks"]
	path = VTEX-course-custom-blocks
	url = https://github.com/2904nando/VTEX-course-custom-blocks
[submodule "VTEX-course-service"]
	path = VTEX-course-service
	url = https://github.com/2904nando/VTEX-course-service
[submodule "VTEX-course-events-example"]
	path = VTEX-course-events-example
	url = https://github.com/2904nando/VTEX-course-events-example
[submodule "VTEX-course-admin-applications"]
	path = VTEX-course-admin-applications
	url = https://github.com/2904nando/VTEX-course-admin-applications
[submodule "VTEX-course-admin-challenge"]
	path = VTEX-course-admin-challenge
	url = https://github.com/2904nando/VTEX-course-admin-challenge
